
<h1>Home</h1>
<p>
	This is the first static page we are building ! More to come !!! =] 
</p>
	
<p>
	Prototype Home
</p>

<p>
	I will put in links for the michael hartl website <a href ="http://railstutorial.org"> Link </a>

</p>




